---
import Layout from '../layouts/Layout.astro';
import TopNavBar from '../components/TopNavBar.astro';
import HeroSection from '../components/HeroSection.astro';
import MarqueeSection from '../components/MarqueeSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <TopNavBar />

  <main class="pt-24 pb-section-padding">
    <HeroSection />
    <MarqueeSection />
  </main>

  <Footer />
</Layout>
