---
import type { FooterTrans } from '../i18n/translations';

export interface Props {
  footer: FooterTrans;
}

const { footer } = Astro.props as Props;
---

<footer class="w-full bg-white dark:bg-surface-container-lowest border-t border-outline-variant/30">
  <div class="flex flex-col md:flex-row justify-between items-center max-w-7xl mx-auto px-gutter py-stack-lg">
    <div class="mb-stack-md md:mb-0">
      <p class="font-label-caps text-label-caps text-on-surface-variant uppercase">{footer.copyright}</p>
    </div>
    <div class="flex gap-stack-lg">
      {
        footer.links.map((link) => (
          <a href="#" class="text-on-surface-variant hover:text-primary transition-colors font-body-sm text-body-sm">{link}</a>
        ))
      }
    </div>
  </div>
</footer>
